

.input-row.full-width textarea {
  width: 100%;
  min-height: 120px;     /* ✅ default height */
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  font-size: 14px;
  resize: vertical;      /* ✅ user can expand */
}


.table-container {
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #999;
}

.responsive-table th,
.responsive-table td {
  border: 1px solid #999;
  padding: 10px;
  text-align: center;
}



.responsive-table th {
  font-weight: normal;   /* ✅ removes bold */
}


.responsive-table td:first-child {
  text-align: center;
  
}
.Comments{
  font-size: 14px;
}
