<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boiler Inspection Form</title>
<style>
html { visibility: hidden; }
</style>


<script>
(function () {
    const nav = performance.getEntriesByType("navigation")[0];

    if (nav && nav.type === "back_forward") {
        window.location.replace("/");
    } else {
        document.documentElement.style.visibility = "visible";
    }
})();

</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/time-auto-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/toggles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="{{ url_for('static', filename='js/components/time-auto-select.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/components/date-auto-fill.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/boilerform.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/components/submit-disable-btn.js')}}" defer></script>

</head>

<body>

<form method="POST" autocomplete="off" id="form">

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <h1 class="form-title">Boiler Inspection Form</h1>
    
    <div class="input-row">
        <label>Date</label>
        <input type="date" id="date" name="date">
    </div>
    
  <div class="input-row">
    <label>Inspection Time</label>

    <div class="time-options">
     

        <input type="radio" id="t2" name="time" value="10:00" required>
        <label for="t2" class="time-box">10:00</label>

        <input type="radio" id="t3" name="time" value="16:00">
        <label for="t3" class="time-box">16:00</label>

        <input type="radio" id="t4" name="time" value="22:00">
        <label for="t4" class="time-box">22:00</label>

           <input type="radio" id="t1" name="time" value="4:00">
        <label for="t1" class="time-box">04:00</label>


    </div>

    <div id="autoSelectMsg"></div>
</div>
     <div class="sub-header">Operator</div>
    <!-- ✅ BASIC INFO -->
    <div class="input-row">
        <label>Operator*</label>
        <input type="text" name="operator" required>
    </div>

    <div class="input-row">
        <label>Email Address*</label>
        <input type="email" name="email" required>
    </div>

    <div class="input-row">
        <label>Phone Number*</label>
        <input type="tel" name="phone" required>
    </div>


    <div class="sub-header">Inspection </div>
    <div class="input-row">
        <label>Boiler #</label>
        <input type="text" name="boilerNumber" required>
    </div>

    

    <!-- ✅ CHECKLIST -->
     
    <div class="form-row">

        <div class="toggle-row">
            <label>
                Check Water Level (Sight Glass)
                <span class="switch">
                    <input type="checkbox" name="check_water_level">
                    <span class="slider"></span>
                </span>
            </label>
        </div>

        <div class="toggle-row">
            <label>
                Blow Down Water Column
                <span class="switch">
                    <input type="checkbox" name="blowDownWaterColumn">
                    <span class="slider"></span>
                </span>
            </label>
        </div>

        <div class="toggle-row">
            <label>
                Blow Down Sight Glass
                <span class="switch">
                    <input type="checkbox" name="blowDownSightGlass">
                    <span class="slider"></span>
                </span>
            </label>
        </div>

        <div class="toggle-row">
            <label>
                Blow Down Low Water Cut Out
                <span class="switch">
                    <input type="checkbox" name="blowDownLowWaterCutOut">
                    <span class="slider"></span>
                </span>
            </label>
        </div>

        <div class="toggle-row">
            <label>
                Bottom Blow Boiler
                <span class="switch">
                    <input type="checkbox" name="bottomBlowBoiler">
                    <span class="slider"></span>
                </span>
            </label>
        </div>

        <div class="toggle-row">
            <label>
                Checked Burner Ring For Proper Flame Pattern
                <span class="switch">
                    <input type="checkbox" name="checkedBurnerRingForProperFlamePattern">
                    <span class="slider"></span>
                </span>
            </label>
        </div>

        <div class="toggle-row">
            <label>
                Checked Excess Oxygen For Proper Level
                <span class="switch">
                    <input type="checkbox" name="checkedExcessOxygenForProperLevel">
                    <span class="slider"></span>
                </span>
            </label>
        </div>

        <div class="toggle-row">
            <label>
                Checked For Excess Combustibles
                <span class="switch">
                    <input type="checkbox" name="checkedForExcessCombustibles">
                    <span class="slider"></span>
                </span>
            </label>
        </div>

        <div class="toggle-row">
            <label>
                Visually Checked Entire Boiler
                <span class="switch">
                    <input type="checkbox" name="visuallyCheckedEntireBoiler">
                    <span class="slider"></span>
                </span>
            </label>
        </div>

    </div>

    <!-- ✅ SECTION -->
    <div class="sub-header">Infrastructure Support Inspections</div>

    <div class="input-row">
        <label>Visible Emissions?</label>
        <select name="emissions">
            <option value="" disabled selected hidden></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>

    <div class="input-row">
        <label>Time Smoke First Observed</label>
        <input type="time" id="time_smoke" name="timeSmokeFirstObserved">
    </div>

    <div class="input-row">
        <label>Time Smoke Cleared</label>
        <input type="time" id="time_smoke_cleared" name="timeSmokeCleared">
    </div>

   
    <div class="sub-header">Comments</div>
    <div class="input-row full-width">
        <!-- <label>Comments:</label> -->
        <textarea name="comments" placeholder="Comments"></textarea>
    </div>

    <button type="submit" id="submitBtn">Submit</button>
     <div class="button">
    <a href="/home">Cancel</a></div>

</form>

</body>
</html>

