<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portable Engine Log</title>



<style>
html { visibility: hidden; }
</style>


<script>
(function () {
    const nav = performance.getEntriesByType("navigation")[0];

    if (nav && nav.type === "back_forward") {
        window.location.replace("/");
    } else {
        document.documentElement.style.visibility = "visible";
    }
})();
</script>
    

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/components/date-auto-fill.js') }}"></script>
    <script src="{{ url_for('static', filename='js/portable-engine.js') }}"></script>

    

</head>

<body>

<form method="POST" action="/portableEngine" autocomplete="off">

    <h1 class="form-title">Portable Engine Log</h1>
     <br>
 
     <div class="input-row">
        <label>Operator</label>
        <input type="text" name="operator" required>
    </div>
    <div class="input-row">
            <label>Equipment</label>
            <select name="equipment" onchange="checkOther(this)">
                <option disabled selected>Select Equipment</option>
                <option value="equipment1">Chipper</option>
                  <option value="equipment2">Lift Machine</option>
                <option value="Other" >Other</option>
            </select>
            <input type="text"
           name="other_vendor"
           class="other-input"
           placeholder="Enter equipment name"
           style="display:none; margin-top:6px;">

    </div>
    <div class="input-row">
        <label>Location</label>
        <select id="location"name="location">
            <option disabled selected hidden></option>
            <option value="location1">Between MS and MP Courtyard</option>
            <option value="location2">Blue and Orange parking lot</option>
            <option value="location3">Blue Parking Lot</option>
            <option value="location4">Building CG</option>
            <option value="location5">Building MB</option>
            <option value="location6">Building MD</option>
            <option value="location7">Building MM</option>
            <option value="location8">Building N Courtyard</option>
            <option value="location9">Building R</option>
            <option value="location10">Building SS</option>
            <option value="location11">Buildings SR and BD</option>
            <option value="location12">Event Parking Lot</option>
            <option value="location13">Gate 2</option>
            <option value="location14">In</option>
            <option value="location15">MP and MS Courtyard</option>
            <option value="location16">N Courtyard</option>
            <option value="location17">Orange Parking Lot</option>
            <option value="location18">Purple Zone</option>
            <option value="location19">Red Mustered Point</option>
            <option value="location20">Red Parking Lot</option>
            <option value="location21">Road A</option>
            <option value="location22">Road H and Butterfly Field</option>
            <option value="location23">Road H and Orange parking lot</option>
            <option value="location24">T Courtyard</option>
            <option value="location25">Yellow Mustered Point</option>
        </select>
    </div>


        <div class="input-row">
        <label>Purpose</label>
        <select id="purpose"name="purpose">
            <option disabled selected hidden></option>
            <option value="opt1">Tree Removal</option>
            <option value="opt2">Tree Trimming</option>
            <option value="opt2">Tree Work</option>
            <option value="opt2">Other</option>
        </select>
        <input type="text"
           name="other_purpose"
           class="other-input"
           placeholder="Enter purpose"
           style="display:none; margin-top:6px;">

    </div>

<div class="sub-header">Service Hours and Meter Readings</div>

    <div class="input-row">
        <label>Arrival Date</label>
        <input type="date" id="arrivalDate" name="arrivalDate">
    </div>

    <div class="input-row">
        <label>In Service Date</label>
        <input type="date" id="inServiceDate" name="inServiceDate">
    </div>

    <div class="input-row">
        <label>Initial Meter Read</label>
        <input type="number" min="0" id="initialMeterRead" name="initialMeterRead">
    </div>

    <div class="input-row">
        <label>Departure Date</label>
        <input type="date" id="departureDate" name="departureDate">
    </div>

    <div class="input-row">
        <label>Final Meter Read</label>
        <input type="number" min="0" id="finalMeterRead" name="finalMeterRead">
    </div>

    <div class="input-row">
        <label>Total Hours</label>
        <input type="number" id="total_time" name="totalHours" step="0.1" readonly>
    </div>
    

<div class="sub-header">Engine Data</div>



        <div class="input-row">
        <label>Horsepower</label>
        <select id="horsepower"name="horsepower">
            <option disabled selected hidden></option>
            <option value="horsepower1">36.4</option>
            <option value="horsepower2">44.0</option>
            <option value="horsepower3">48.8</option>
            <option value="horsepower4">74.0</option>
            <option value="horsepower5">145.0</option>
            <option value="horsepower6">49 or 74</option>
        </select>
    </div>

    <div class="input-row">
        <label>Manufacturer</label>
        <select id="manufacturer"name="manufacturer">
            <option disabled selected hidden></option>
            <option value="manufacturer1">JLG</option>
            <option value="manufacturer2">JLG Lift</option>
            <option value="manufacturer3">MEC</option>
            <option value="manufacturer4">Morbark, LLC</option>
            <option value="manufacturer5">Skyjack</option>
            <option value="manufacturer6">Vermeer</option>
        </select>
    </div>

    <div class="input-row">
        <label>Model Number</label>
        <select id="modelNumber"name="modelNumber">
            <option disabled selected hidden></option>
            <option value="model1">600AJ</option>
            <option value="model2">60-J</option>
            <option value="model3">660SJ</option>
            <option value="model4">BC1000XL</option>
            <option value="model5">SJ66T+</option>
            <option value="model6"></option>
        </select>
    </div>

    <div class="input-row">
        <label>Serial Number</label>
        <input type="text" name="serialNumber">
    </div>

        <div class="input-row">
        <label>Manufacture Date</label>
        <input type="date" id="manufactureDate" name="manufactureDate">
    </div>


    <div class="input-row">
        <label>Tier</label>
        <select id="tier"name="tier">
            <option disabled selected hidden></option>
            <option value="tier1">3</option>
            <option value="tier2">4</option>
        </select>
    </div>


    <div class="input-row">
        <label>Fuel</label>
        <select id="fuel"name="fuel">
            <option disabled selected hidden></option>
            <option value="fuel1">Diesel</option>
        </select>
    </div>


    <div class="input-row">
        <label>Onsite Status</label>
        <select id="onsiteStatus"name="onsiteStatus">
            <option disabled selected hidden></option>
            <option value="status1">Off-Site</option>
            <option value="status2">On-Site</option>
        </select>
    </div>

    

    <br>
    <button type="submit">Submit</button>
    <div class="button">
    <a href="/home">Cancel</a></div>
</form>

</body>