<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Boiler Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/BoilerForm.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="{{ url_for('static', filename='js/boilerform.js')}}"></script>


</head>

<body>
    <form method="POST">
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    
    <h2 class="form-title">Boiler Form</h2>


    <div class="input-group">
        <input type="text" name="operator1" required placeholder=" ">
        <label>Operator*</label>
    </div>

    <div class="input-group">
        <input type="email" name="email" required placeholder=" ">
        <label>Email Address*</label>
    </div>

    <div class="input-group">
        <input type="tel" name="phone" required placeholder=" ">
        <label>Phone Number*</label>
    </div>

         <div class="input-group">
        <input type="text" name="bolierNumber" required placeholder=" ">
        <label>Boiler #</label>
    </div>

    <div class="input-group">
        <input type="date" id="date" name="date">
        <label>Date</label>
    </div>


    <div class="input-group">
        <label>Time</label>
        <select name="Time" required>
            <option value="" disabled selected hidden></option>
            <option value="4:00">4:00</option>
            <option value="10:00">10:00</option>
            <option value="16:00">16:00</option>
            <option value="22:00">22:00</option>
        </select>
    </div>




    <div class = "form-group">

         <div class="toggle-row">
<label>
  Check Water Level (Sight Glass)

  <span class="switch">
    <input type="checkbox" name="check_water_level">
    <span class="slider"></span>
  </span>
</label>
</div>

<div class="toggle-row">
<label>
  Blow Down Water Column

  <span class="switch">
    <input type="checkbox" name="blowDownWaterColumn">
    <span class="slider"></span>
  </span>
</label>
</div>

<div class="toggle-row">
<label>
  Blow Down Sight Glass

  <span class="switch">
    <input type="checkbox" name="blowDownSightGlass">
    <span class="slider"></span>
  </span>
</label>

</div>

<div class="toggle-row">
<label>
  Blow Down Low Water Cut Out

  <span class="switch">
    <input type="checkbox" name="blowDownLowWaterCutOut">
    <span class="slider"></span>
  </span>
</label>
</div>

<div class="toggle-row">
<label>
  Bottom Blow Boiler

  <span class="switch">
    <input type="checkbox" name ="bottomBlowBoiler">
    <span class="slider"></span>
  </span>
</label>
</div>

<div class="toggle-row">
<label>
  Checked Burner Ring For Proper Flame Pattern

  <span class="switch">
    <input type="checkbox" name = "checkedBurnerRingForProperFlamePattern">
    <span class="slider"></span>
  </span>
</label>
</div>

<div class="toggle-row">
<label>
  Checked Excess Oxygen For Proper Level

  <span class="switch">
    <input type="checkbox" name = "checkedExcessOxygenForProperLevel">
    <span class="slider"></span>
  </span>
</label>
</div>

<div class="toggle-row">
<label>
  Checked For Excess Combustibles

  <span class="switch">
    <input type="checkbox" name ="checkedForExcessCombustibles">
    <span class="slider"></span>
  </span>
</label>
</div>

<div class="toggle-row">
<label>
  Visually Checked Entire Boiler

  <span class="switch">
    <input type="checkbox" name ="visuallyCheckedEntireBoiler">
    <span class="slider"></span>
  </span>
</label>
</div>


</div>





<h3>Infrastructure Support Inspections:</h3>



    <div class="input-group">
        <label>Visible Emissions?</label>
        <select name="emissions">
            <option value="" disabled selected hidden></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>


    <div class="input-group">
        <input type="time" id="time_smoke" name="timeSmokeFirstObserved">
        <label>Time Smoke First Observed</label>
    </div>


      <div class="input-group">
        <input type="time" id="time_smoke_cleared" name="timeSmokeCleared">
        <label>Time Smoke Cleared</label>
    </div>


     <div class="input-group">
        <input type="text" name="comments">
        <label>Comments:</label>
    </div>

    <button type="submit">Submit</button>

</form>
  

</body>
</html>
