<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>STCH Maintenance</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/home.css') }}">
</head>

<body>




<!-- ✅ Main Card -->
<div class="container">
    <div class="card">

        

        <H2>
            Select your Activity
        </H2>
        <br>
        <!-- ✅ Buttons -->
        <div class="buttons">
            <a href="/form" class="btn">Paint and Sandblasting</a> <br>
            <a href="/boiler" class="btn">Boiler Inspection</a> <br>
            <a href="/flare" class="btn">CEB / Flare Inspection</a> <br>
        </div>

    </div>
</div>

</body>
</html>