<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>STCH Maintenance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/home.css') }}">

    
</head>

<body>

<div class="card">
    <h1>Hi, Welcome to STCH Maintenance</h1>
    <p>Scan the QR code or click below to open the form</p>

    <!-- ✅ QR CODE -->
    <img src="{{ url_for('static', filename='dispersants_qr.png') }}" alt="QR Code">

    <!-- ✅ BUTTON -->
    <div>
        <a href="/form">Open Work Log Form</a>
        <a href="/CEB_Flare">Open Flare/CEB Form</a>
    </div>
</div>

</body>
</html>