<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STCH Maintenance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/QR.css') }}">
</head>

<body>


    <div class="card">

        <h1>Select your Activity</h1>

        <div class="buttons">
            <a href="/paint" class="btn">Paint and Sandblasting</a>
            <a href="/boiler" class="btn">Boiler Inspection</a>
            <a href="/flare" class="btn">CEB / Flare Inspection</a>
        </div>

    </div>


</body>
</html>