<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/qr.css') }}">
    <title>STCH Environmental Inspections</title>
</head>
<body>

    <div class="card">
        <h1>Welcome to STCH Environmental Inspections</h1>
        <p>Scan the QR code or click below to open the form</p>

        <img src="{{ url_for('static', filename='stch-environmental-inspections-QR.png') }}" alt="QR Code">

        <a href="/home">Go to all forms </a>
    </div>

</body>
</html>
