<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/QR.css') }}">
</head>

<body>
     <div class="card">
    <div class="box">
        <h2> Form successfully submitted</h2>
        <p>Your submission has been sent to the management.</p>
       </div>
        <div class="buttons">
                    <a href="/" class="btn">Home</a>
        </div>

    </div>

    


{% if download == "paint" %}
<script>
    window.onload = function() {
        window.location.href = "{{ url_for('download') }}";
    };
</script>
{% endif %}

</body>
</html>



